body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}

.building {
    background: #fff;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 5px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 10px;
}

.schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.schedule-table th {
    background-color: #f2f2f2;
}

.dropdown {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    z-index: 1000;
    display: none;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: white;
}

#schedule-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 tables in a row */
    grid-gap: 10px; /* Adjust the gap to control spacing between tables */
    margin-bottom: 30px; /* Adds space at the bottom for the schedule-info */
    /* Other styles */
}

#schedule-info {
    margin-top: 20px; /* Ensure there's space between tables and the info panel */
    background-color: #f8f8f8; /* Light background for visibility */
    border: 1px solid #ccc; /* Border to distinguish the panel */
    padding: 10px; /* Padding inside the panel */
    /* Adjust the height as necessary, or remove it to let the content dictate the size */
}

.filled-timeslot {
    background-color: red;
    color: white; /* Change text color to ensure readability on red background */
}

